@import "partials/variables";
@import "partials/functions";
@import "partials/buttons";
@import "partials/form";

/*----------------------------------------
/ assign styles
/----------------------------------------*/

// global styles
html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
    font: 100% $font-stack;
    color: white;
}

// main layout
section,
.aside-container {
    max-width: 90%;
    margin: 0 auto;
}

header,
aside,
main,
img {
    width: 100%;
}

header {
    text-align: center;
    background-color: $primary-color;
}

aside {
    padding: $base-spacing 0;
    background-color: $background-color-dark;
}


h1 {
    margin: 0;
    padding: $base-spacing / 2;
}


.gif-container {
    margin: $base-spacing 0;
    position: relative;

    p {
        position: absolute;
        padding: $base-spacing / 2;
        margin: 0;
        visibility: hidden;
    }

    .rating {
        bottom: 4px;
        left: 0;
    }

    .favorite-button {
        bottom: 4px;
        right: 0;
    }

    &:hover {
        img {
            filter: brightness(75%);
        }
        .rating,
        .favorite-button {
            background-color: rgba($primary-color-dark, 0.5);
            visibility: visible;
        }
        .favorite-button:hover {
            cursor: pointer;
        }
    }
}

@import "partials/media_queries";