/*----------------------------------------
/ functions
/----------------------------------------*/
@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

/*----------------------------------------
/ variables
/----------------------------------------*/
$font-stack:    "Jura", sans-serif;

$primary-color: #546e7a;
$primary-color-light: #819ca9;
$primary-color-dark: #29434e;
$secondary-color: #3f50b5;
$secondary-color-light: #757ce8;
$secondary-color-dark: #002884;
$background-color-dark: #E1E2E1;
$background-color-light: #F5F5F6;

$buttons-list: (
  "button",
  "[type='button']",
  "[type='reset']",
  "[type='submit']",
);

$base-border-radius: 0;
$button-background-color: $secondary-color;
$button-background-color-hover: shade($secondary-color, 20%);
$button-margin: 2%;


/*----------------------------------------
/ assign styles
/----------------------------------------*/
html {
    box-sizing: border-box;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
    font: 100% $font-stack;
    color: white;
}

main,
.aside-container {
    max-width: 90%;
    margin: 0 auto;
}

header,
aside,
section,
img {
    width: 100%;
}

header {
    text-align: center;
    padding: 1em;
    background-color: $primary-color;
}

aside {
    background-color: $background-color-dark;
    padding: 1em 0;
}

button {
    width: (100% - $button-margin) / 2;
}

button:nth-child(odd) {
    margin-right: $button-margin;
    margin-bottom: $button-margin;
}

h1 {
    margin: 0;
}

form {
    margin-bottom: 1em;
}

.gif-container {
    position: relative;
    margin: 1em 0;

    p {
        position: absolute;
        bottom: 0;
        left: 1em;
    }
}



#{$buttons-list} {
  background-color: $button-background-color;
  border-radius: $base-border-radius;
  color: white;
  cursor: pointer;
  padding: 0;
  border: solid 0.5em $button-background-color;
  white-space: nowrap;
  overflow: hidden;
//   display: inline-block;
//   font-family: $base-font-family;
//   font-size: 16px;
//   -webkit-font-smoothing: antialiased;
//   font-weight: 600;
//   line-height: 1;
//   padding: $small-spacing $base-spacing;
//   text-align: center;
//   text-decoration: none;
//   transition: background-color $base-duration $base-timing;
//   user-select: none;
//   vertical-align: middle;

  &:hover {
    background-color: $button-background-color-hover;
    border-color: $button-background-color-hover;
  }

  &:focus {
    outline: $secondary-color-dark;
    // outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $button-background-color;
    }
  }
}

label {
    display: inline-block;
    width: 100%;
    color: $secondary-color;
    font-weight: bold;
}



#new-move-input {
    width: 75%;
}

#submit-new-move {
    width: 25%;
}

[type='text'],
[type='submit'] {
    border: 1px solid $button-background-color;
    border-right: 0;
    padding: 0.4em 0;
}

[type='text'] {
    color: $secondary-color;
    padding-left: 0.4em;
}