/*----------------------------------------
/ variables
/----------------------------------------*/
/*----------------------------------------
/ functions
/----------------------------------------*/
/*----------------------------------------
/ buttons
/----------------------------------------*/
button {
  width: 49%;
  margin-bottom: 2%; }

button:nth-child(odd) {
  margin-right: 2%; }

button, [type='button'], [type='reset'], [type='submit'] {
  background-color: #3f50b5;
  border-radius: 0;
  color: white;
  cursor: pointer;
  padding: 0;
  border: solid 0.5em #3f50b5;
  white-space: nowrap;
  overflow: hidden; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover {
    background-color: shade(#3f50b5, 20%);
    border-color: shade(#3f50b5, 20%); }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus {
    outline: #002884; }

#show-favorites {
  background-color: #002884;
  font-weight: bold;
  border: solid 0.5em #002884;
  margin-bottom: 4%;
  width: 100%; }
  #show-favorites:hover {
    background-color: #00206a;
    border-color: #00206a; }
  #show-favorites:focus {
    outline: #002884; }

/*----------------------------------------
/ functions
/----------------------------------------*/
form {
  margin-bottom: 1em; }

label {
  display: inline-block;
  width: 100%;
  color: #3f50b5;
  font-weight: bold; }

#new-move-input {
  width: 75%; }

#submit-new-move {
  width: 25%; }

[type='text'],
[type='submit'] {
  border: 1px solid #3f50b5;
  border-right: 0;
  padding: 0.5em 0; }

[type='text'] {
  color: #3f50b5;
  padding-left: 0.5em; }

/*----------------------------------------
/ assign styles
/----------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit;
  font: 100% "Jura", sans-serif;
  color: white; }

section,
.aside-container {
  max-width: 90%;
  margin: 0 auto; }

header,
aside,
main,
img {
  width: 100%; }

header {
  text-align: center;
  background-color: #546e7a; }

aside {
  padding: 1em 0;
  background-color: #E1E2E1; }

h1 {
  margin: 0;
  padding: 0.5em; }

.gif-container {
  margin: 1em 0;
  position: relative; }
  .gif-container p {
    position: absolute;
    padding: 0.5em;
    margin: 0;
    visibility: hidden; }
  .gif-container .rating {
    bottom: 4px;
    left: 0; }
  .gif-container .favorite-button {
    bottom: 4px;
    right: 0; }
  .gif-container:hover img {
    filter: brightness(75%); }
  .gif-container:hover .rating,
  .gif-container:hover .favorite-button {
    background-color: rgba(41, 67, 78, 0.5);
    visibility: visible; }
  .gif-container:hover .favorite-button:hover {
    cursor: pointer; }

/*----------------------------------------
/ functions
/----------------------------------------*/
@media only screen and (min-width: 600px) {
  main {
    overflow: auto; }

  aside {
    height: calc(100vh - 69.6px);
    width: 275px;
    float: left; }

  section {
    position: absolute;
    right: 0;
    left: 275px;
    margin: 1em;
    width: auto; }

  button {
    width: 100%;
    margin-bottom: 2%; }

  button:nth-child(odd) {
    margin-right: 0; }

  button:last-of-type {
    margin-bottom: 0; }

  .gif-container {
    margin: 0 0 1em 0; }

  .sticky-top {
    position: fixed;
    top: 0; }

  .full-vh {
    height: 100vh; } }
@media only screen and (min-width: 900px) {
  img {
    width: auto; }

  .gif-container {
    display: inline-block;
    margin-right: 1em; } }

/*# sourceMappingURL=style.css.map */
