/*----------------------------------------
/ functions
/----------------------------------------*/

form {
    margin-bottom: $base-spacing;
}

label {
    display: inline-block;
    width: 100%;
    color: $secondary-color;
    font-weight: bold;
}

#new-move-input {
    width: 75%;
}

#submit-new-move {
    width: 25%;
}

[type='text'],
[type='submit'] {
    border: 1px solid $button-background-color;
    border-right: 0;
    padding: ($base-spacing / 2) 0;
}

[type='text'] {
    color: $secondary-color;
    padding-left: $base-spacing / 2;
}